- name: Install MySQL Client
  ansible.builtin.yum:
    name: mysql
    state: installed

#- name: Check if Schema exists or not
#  ansible.builtin.shell: echo show databases | mysql -h {{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.mysql.endpoint', region='us-east-1') }} -u{{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.mysql.username', region='us-east-1') }} -p{{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.mysql.password', region='us-east-1') }} | grep cities
#  ignore_errors: yes
#  register: stat


- name: Load Schema
  ansible.builtin.shell: mysql -h mysql-dev.devopsb73.store -uroot -p${mysql_root_password} </app/schema/${component}.sql
  #ansible.builtin.shell: mysql -h {{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.mysql.endpoint', region='us-east-1') }} -u{{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.mysql.username', region='us-east-1') }} -p{{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.mysql.password', region='us-east-1') }} </app/schema/{{ component }}.sql
  #when: stat.rc != 0

#  mysql_schema_setup() {
#    echo -e "${color} Install MySQL Client ${nocolor}"
#    yum install mysql -y  &>>$log_file
#    stat_check $?
#
#    echo -e "${color} Load Schema ${nocolor}"
#    mysql -h mysql-dev.devopsb73.store -uroot -p${mysql_root_password} </app/schema/${component}.sql   &>>$log_file
#    stat_check $?
#  }